{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Procesos de Contratación</title>
{% endblock %}

{% load static %}
{% block head_style %}
<link rel="stylesheet" href="{% static 'plugins/elastic-list/style.css' %}" >
{% endblock %}
{% block container %}
<div class="container-fluid  busquedaEspaciadoHorizontal">
   <div class="cajonFiltrosAplicadosDashboard  cajonSombreado mt-4" id="filtrosAplicadosItems" style="position: fixed;right: 28px;z-index: 2; min-width: 280px;max-width: 600px;">

      <div class="row">
                        <div class="col-6 col-sm-7 col-md-6">
                           <div class="tituloFiltrosAplicados textoAlineadoIzquierda">Filtros Aplicados:</div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-6 textoAlineadoIzquierda" id="contenedorSinFiltros">
                           
                             <h4 class="textoColorPrimario titularColor" style="margin-top:3px">Ninguno</h4>
                           </div>
                        <div class="col-6 col-sm-5 col-md-6 textoAlineadoDerecha" id="contenedorFiltros" style="display: none">

                           <a href="javascript:void(0)" class="botonGeneral fondoColorSecundario" id="quitarFiltros" style="font-size: 10px"> Quitar Todos</a>
                        </div>
                     </div>
      <div class="row textoAlineadoDerecha pt-2" id="listaFiltrosAplicados"></div>
   </div>
   <div class="contenedorFiltrosBusqueda animated">
      <h4 class="textoColorPrimario tituloFiltrosMenu titularColor">
         Filtros 
         <div class="cursorMano cerrarContenedorFiltrosBusqueda" style="display:none"><i class="fas fa-times textoColorGris"></i></div>
      </h4>
      <div class="filtrosContenedoFiltrosBusqueda">
        
         <div id="elastic-list">
         </div>
      </div>
   </div>
      <div class="contenedorResultadosBusqueda">
   
         <div class="container-fluid contenedorBusqueda mb-5" >
            <div class="row">
               <div class="col-6 col-sm-6 col-md-6">
                  <h4 class="textoColorPrimario tituloFiltrosMenu titularColor">
                     Dashboard de Procesos de Contratación
                  </h4>
               </div>
   
            </div>
            <div class="row">
            <div class="col-md-6">
                        <div class="cajonSombreado">
                              <div class="tituloGrafico">
                              <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Categoría de Compra</h4>
                              </div>
                              <div class="contenedorGrafico">
                              <div class="grafico" id="CantidadProcesosCategoriaCompra"  style="height: 300px"></div>
                              </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                                    <div class="cajonSombreado">
                                          <div class="tituloGrafico">
                                          <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Metodo de Contratación</h4>
                                          </div>
                                          <div class="contenedorGrafico">
                                          <div class="grafico" id="CantidadProcesosMetodoContratacion"  style="height: 300px"></div>
                                          </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6 mt-4">
                                                <div class="cajonSombreado">
                                                      <div class="tituloGrafico">
                                                      <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación por Categoría de Compra</h4>
                                                      </div>
                                                      <div class="contenedorGrafico">
                                                      <div class="grafico" id="MontoProcesosCategoriaCompra"  style="height: 300px"></div>
                                                      </div>
                                                </div>
                                                </div>
                                    <div class="col-md-6 mt-4">
                                                <div class="cajonSombreado">
                                                      <div class="tituloGrafico">
                                                      <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación por Metodo de Contratación</h4>
                                                      </div>
                                                      <div class="contenedorGrafico">
                                                      <div class="grafico" id="MontoProcesosMetodoContratacion"  style="height: 300px"></div>
                                                      </div>
                                                </div>
                                                </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="cantidadProcesos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
         
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="montoProcesos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                     <div class="cajonSombreado">
                        <div class="tituloGrafico">
                           <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación
                        </div>
                        <div class="contenedorGrafico">
                           <div class="grafico" id="cantidadPagosCajas"  style="/*min-height: 300px*/">
                              <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                       <div class="p-2">
                                       <div class="titularColor textoAlineadoDerecha" style="color:#57C5CB;font-size: 50px;line-height: 40px"><span data-speed="300" data-refresh-interval="20" data-from="0" data-to="0" class="conteo" id="CantidadProcesosPromedio">0</span></div>
                                       <div class="titularColor textoAlineadoDerecha textoColorGris" >Promedio</div>
                                       </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                          <div class="p-2">
                                          <div class="titularColor textoAlineadoDerecha" style="color:#57C5CB;font-size: 50px;line-height: 40px"><span data-speed="300" data-refresh-interval="20" data-from="0" data-to="0" class="conteo" id="CantidadProcesosMayor">0</span></div>
                                          <div class="titularColor textoAlineadoDerecha textoColorGris" >Mayor</div>
                                          </div>
                                       </div>
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                             <div class="p-2">
                                             <div class="titularColor textoAlineadoDerecha" style="color:#57C5CB;font-size: 50px;line-height: 40px"><span data-speed="300" data-refresh-interval="20" data-from="0" data-to="0" class="conteo" id="CantidadProcesosMenor">0</span></div>
                                             <div class="titularColor textoAlineadoDerecha textoColorGris" >Menor</div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                                <div class="p-2">
                                                <div class="titularColor textoAlineadoDerecha" style="color:#57C5CB;font-size: 50px;line-height: 40px"><span data-speed="300" data-refresh-interval="20" data-from="0" data-to="0" class="conteo" id="CantidadProcesosTotal">0</span></div>
                                                <div class="titularColor textoAlineadoDerecha textoColorGris" >Total</div>
                                                </div>
                                             </div>
                              </div>
                              
                              </div>
                        </div>
                     </div>
                  </div>
               <div class="col-md-12 mt-4">
                     <div class="cajonSombreado">
                        <div class="tituloGrafico">
                           <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Contratos
                        </div>
                        <div class="contenedorGrafico">
                           <div class="grafico" id="cantidadPagosCajas"  style="/*min-height: 300px*/">
                              <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                       <div class="p-2">
                                       <div class="titularColor textoAlineadoDerecha" style="color:#D9527B;font-size: 50px;line-height: 40px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="302" class="conteo">0</span></div>
                                       <div class="titularColor textoAlineadoDerecha textoColorGris" >Promedio</div>
                                       </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                          <div class="p-2">
                                          <div class="titularColor textoAlineadoDerecha" style="color:#D9527B;font-size: 50px;line-height: 40px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="356" class="conteo">0</span></div>
                                          <div class="titularColor textoAlineadoDerecha textoColorGris" >Mayor</div>
                                          </div>
                                       </div>
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                             <div class="p-2">
                                             <div class="titularColor textoAlineadoDerecha" style="color:#D9527B;font-size: 50px;line-height: 40px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="9" class="conteo">0</span></div>
                                             <div class="titularColor textoAlineadoDerecha textoColorGris" >Menor</div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                                <div class="p-2">
                                                <div class="titularColor textoAlineadoDerecha" style="color:#D9527B;font-size: 50px;line-height: 40px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="1200" class="conteo">0</span></div>
                                                <div class="titularColor textoAlineadoDerecha textoColorGris" >Total</div>
                                                </div>
                                             </div>
                              </div>
                              
                              </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 mt-4">
                     <div class="cajonSombreado">
                        <div class="tituloGrafico">
                           <h4 class="titularCajonSombreado textoAlineadoCentrado">Montos de Contratos</h4>
                        </div>
                        
                        <div class="contenedorGrafico">
                           <div class="grafico" id="montosPagosCajas"  style="/*min-height: 300px*/">
                           <div class="row">
                                 <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                    <div class="pt-2 pb-2">
                                    <div class="titularColor textoAlineadoDerecha textoColorGris" style="font-size: 20px;line-height: 20px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="65784" class="conteo moneda">0</span> <span class="textoColorPrimario">HNL</span></div>
                                    <div class="titularColor textoAlineadoDerecha textoColorGris" >Promedio</div>
                                    </div>
                                 </div>
                                 <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                       <div class="pt-2 pb-2">
                                       <div class="titularColor textoAlineadoDerecha textoColorGris" style="font-size: 20px;line-height: 20px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="9765784" class="conteo moneda">0</span> <span class="textoColorPrimario">HNL</span></div>
                                       <div class="titularColor textoAlineadoDerecha textoColorGris" >Mayor</div>
                                       </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                          <div class="pt-2 pb-2">
                                          <div class="titularColor textoAlineadoDerecha textoColorGris" style="font-size: 20px;line-height: 20px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="250" class="conteo moneda">0</span> <span class="textoColorPrimario">HNL</span></div>
                                          <div class="titularColor textoAlineadoDerecha textoColorGris" >Menor</div>
                                          </div>
                                       </div>
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                             <div class="pt-2 pb-2">
                                             <div class="titularColor textoAlineadoDerecha textoColorGris" style="font-size: 20px;line-height: 20px"><span data-speed="1000" data-refresh-interval="20" data-from="0" data-to="250164554" class="conteo moneda">0</span> <span class="textoColorPrimario">HNL</span></div>
                                             <div class="titularColor textoAlineadoDerecha textoColorGris" >Total</div>
                                             </div>
                                          </div>
                           </div>
                           
                           </div>
                        </div>
                     </div>
                  </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Etapas Donde se Encuentran</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="CantidadProcesosEtapas"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Tiempo Promedio por Etapas de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="tiempoPromedioEtapas"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Top 10 Compradores por Montos de Contrato</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="top10Compradores"  style="height: 500px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Top 10 Proveedores por Montos de Contrato</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="top10Proveedores"  style="height: 500px"></div>
                     </div>
                  </div>
               </div>
         
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Segregación de Montos de Contratos</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="segregacionMontosContratos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div class="container" style="display: none">
      <img src="{% static 'img/oncae.jpg' %}" style="width:100%"  alt="">
</div>
{% endblock %}
{% block script_content %}
<script src="{% static 'plugins/echarts-4.2.1/dist/echarts.min.js' %}"></script>
<script src="{% static 'plugins/elastic-list/data.js' %}"></script>
<script src="{% static 'plugins/elastic-list/elastic-list.js' %}"></script>
<script src="{% static 'plugins/echarts-4.2.1/dist/echarts.min.js' %}"></script>
<script src="{% static 'js/dashboardProcesosContratacion.js' %}"></script>
{% endblock %}