{% load static %}
<!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-expand-lg  navbar-dark fixed-top  fondoColorPrimario">
   <a class="navbar-brand" href="/">
   <img src="{% static 'img/logos/logoPortalEdca.svg' %}" alt="Logo Portal de Contrataciones Abiertas de Honduras">
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraNavegacionPortal" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="barraNavegacionPortal">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
         <li class="nav-item {% if '/' == request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/">Inicio <span class="sr-only">(current)</span> </a>
         </li>
         <li class="nav-item {% if '/visualizaciones' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/visualizaciones">Visualizaciones</a>
         </li>
         <li class="nav-item {% if '/proveedores' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/proveedores_sefin/?pagina=1&paginarPor=5">Proveedores</a>
         </li>
         <li class="nav-item {% if '/compradores' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/compradores/?pagina=1&paginarPor=5&dependencias=0">Compradores</a>
         </li>
         <li class="nav-item {% if '/servicio' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/servicio">API</a>
         </li>
         <li class="nav-item {% if '/descargas' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/descargas">Descargas</a>
         </li>
         <!--
         <li class="nav-item {% if '/acerca' in request.path %}active{% endif %}">
               <a class="nav-link transicion"  href="/acerca">Acerca</a>
         </li>-->
         <li class="nav-item {% if '/busqueda' in request.path %}active{% endif %}">
            <a class="nav-link transicion"  href="/busqueda?term=&metodo=proceso&pagina=1">Contrataciones</a>
         </li>
      </ul>
      <form class="form-inline  busquedaMenuPortal" action="/busqueda">
            <input class="form-controlx mr-sm-2" type="search" placeholder="Búsqueda" aria-label="Search" name="term" value="{% if request.GET.term %}{{request.GET.term}}{% endif %}">
            <input type="hidden" name="metodo" value="proceso">
            <input type="hidden" name="pagina" value="1">
            <button class="btn   btnBusquedaMenuPortal" type="submit"><i class="fas fa-search cursorMano"  title="Buscar"></i></button>
      </form>
   </div>
</nav>
<!-- CIERRE DE BARRA DE NAVEGACION -->