{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Procesos de Comprador</title>
{% endblock %}

{% load static %}

{% block head_style %}
<link rel="stylesheet" href="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.css' %}" >
{% endblock %}

{% block container %}
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="textoColorPrimario mt-3 tituloDetalleProceso">Procesos de Comprador: UPNFM</h1>
            </div>
         </div>
         <div class="row mt-3 mb-3 ">
            <div class="col-lg-6">
               <div class="campoAzulBusquedaPadre normal" style="margin-left:0">
                  <input class="form-control form-control-lg campoAzulBusqueda" type="text" placeholder="Busca un proceso...">
                  <i class="fas fa-search cursorMano" id="buscarInformacion"></i>	
               </div>
            </div>
            <div class="col-lg-6 textoAlineadoDerecha">
               <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">Mostrar&nbsp;</h5>
               <select name="" id="" class="campoSeleccion ancho70 mt-3 enLinea">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
               </select>
               <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">&nbsp;Resultados</h5>
         </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class=" cajonSombreado ">
                  <table class="tablaGeneral">
                     <thead>
                        <tr> 
                           <th class="textoAlineadoCentrado">
                                 <span>Proveedor</span>
                                 <input list="proveedoresLista" id="proveedoresColumna" class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                 <datalist id="proveedoresLista">
                                   <option value="Inversiones SESAG">
                                   <option value="Transportes Cristina">
                                   <option value="Camosa">
                                   <option value="Lufergo">
                                   <option value="Larach & Cia">
                                   <option value="Leterago">
                                   <option value="Office Depot">
                                   <option value="Diunsa">
                                 </datalist>
                                 </th>
                           <th class="textoAlineadoCentrado">
                              <span>Proceso</span>
                              <input list="procesosLista" id="proveedoresColumna" class="campoBlancoTextoSeleccion" placeholder="Nombre">
                              <datalist id="procesosLista">
                                    <option value="Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                                          <option value="2Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                                          <option value="Lorem ipsum dolor">
                              </datalist>
                              </th>
                           <th class="textoAlineadoCentrado">
                              <span>Total</span>
                              <input list="totalLista" id="proveedoresColumna" class="campoBlancoTextoSeleccion" placeholder="Número">
                              <datalist id="totalLista">
                                    <option value="45">
                                          <option value="75">
                                          <option value="57575">
                                          <option value="2">
                                          <option value="75">
                                          <option value="8669">
                                          <option value="2878">
                                          <option value="78738">
                              </datalist>
                               </th>
                           <th class="textoAlineadoCentrado">
                              <span>Fecha</span>
                              <input type="text" id="licitacionColumna" class="campoBlancoTextoSeleccion fecha" placeholder="Fecha">
                               </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Larach</a> </td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Gatsby Charitable Foundation</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">585,503,010 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Guy's and St Thomas' Charity</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">232,603,843 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Diunsa</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">1603,154,975 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Leterago</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">345,085,077 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Proveedor"><a href="/proveedor" class="enlaceTablaGeneral">Lufergo</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">1,494,536,773 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Comprador"><a href="/comprador" class="enlaceTablaGeneral">Office Depot</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">1,056,769,597 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                        <tr>
                           <td data-label="Comprador"><a href="/comprador" class="enlaceTablaGeneral">Inversiones SA</a></td>
                           <td data-label="Proceso"><a href="/proceso" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Total">681,153,923 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha">2018-02-19 10:02:54</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="col-md-6">
               <h5 class="tituloTablaGeneral textoColorPrimario mt-3 mb-0" >Mostrando 0 a 4 de 4 Procesos</h5>
            </div>
            <div class="col-md-6 textoAlineadoDerecha">
               <h4 class="textoAlineadoDerecha mb-0 descargaIconos enLinea alineadoArriba" style="margin-top:18px">
                     <span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.JSON</span>
                     <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.CSV</span>
                  </h4>
                  <h4 class="enLinea mb-0 mt-3 enLinea alineadoArriba" onclick="location.href='/preguntas'">
                     <div class="textoAlineadoCentrado cursorMano botonAyuda transicion" id="informacionTipoDatos">
                           <i class="fas fa-question" ></i>
                        </div>
                        
                  </h4>
            
         </div>
            <div class="col-md-12 textoAlineadoCentrado">
               <nav class="navegacionTablaGeneral">
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-left"></i></span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1</span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral  numeroNormalNavegacionTablaGeneral"><span>...</span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>10</span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>11</span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral current"><span>12</span></a>
                  <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>13</span></a><a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-right"></i></span></a>
               </nav>
            </div>
         </div>
      </div>
{% endblock %}

{% block script_content %}
<script src="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mask-1.14.15/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/procesos_compradores.js' %}"></script>
{% endblock %}
