{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Busqueda</title>
{% endblock %}

{% load humanize %}

{% load static %}
{% block head_style %}
<link rel="stylesheet" href="{% static 'plugins/elastic-list/style.css' %}" >
{% endblock %}
  
{% block container %}
      <div class="container  busquedaEspaciadoHorizontal">
         <div class="contenedorFiltrosBusqueda animated">
            <h4 class="textoColorPrimario tituloFiltrosMenu">
               Filtros 
               <div class="cursorMano cerrarContenedorFiltrosBusqueda" style="display:none"><i class="fas fa-times textoColorGris"></i></div>
            </h4>
            <div class="filtrosContenedoFiltrosBusqueda">
               <!--<div class="filtroBusquedaPagina">
                  <div class="tituloFiltroBusquedaPagina">
                    Moneda
                  </div>
                  <div class="opcionesFiltroBusquedaPagina">
                    <div class="opcionFiltroBusquedaPagina" value="HNL">
                     <i class="fas"></i>
                     <span>HNL (30)</span>
                    </div>
                    <div class="opcionFiltroBusquedaPagina" value="USD">
                     <i class="fas"></i>
                     <span>USD (15)</span>  
                    </div>
                  </div>
                  </div>
                  <div class="filtroBusquedaPagina">
                  <div class="tituloFiltroBusquedaPagina">
                   Comprador
                  </div>
                  <div class="opcionesFiltroBusquedaPagina">
                   <div class="opcionFiltroBusquedaPagina" value="HNL">
                    <i class="fas"></i>
                    <span>AMDC</span>  
                   </div>
                   <div class="opcionFiltroBusquedaPagina" value="USD">
                    <i class="fas"></i>
                    <span>INE</span> 
                   </div>
                  </div>
                  </div>
                  
                  <div class="filtroBusquedaPagina">
                  <div class="tituloFiltroBusquedaPagina">
                   Categoría
                  </div>
                  <div class="opcionesFiltroBusquedaPagina">
                   <div class="opcionFiltroBusquedaPagina" value="HNL">
                    <i class="fas"></i>
                    <span>Obras</span>   
                   </div>
                   <div class="opcionFiltroBusquedaPagina" value="USD">
                    <i class="fas"></i>
                    <span>Bienes</span>  
                   </div>
                   <div class="opcionFiltroBusquedaPagina" value="USD">
                     <i class="fas"></i>
                     <span>Servicios</span>  
                    </div>
                  </div>
                  </div>
                  <div class="filtroBusquedaPagina">
                  <div class="tituloFiltroBusquedaPagina">
                   Selección
                  </div>
                  <div class="opcionesFiltroBusquedaPagina">
                   <div class="opcionFiltroBusquedaPagina" value="HNL">
                    <i class="fas"></i>
                    <span>Compras Menores</span> 
                   </div>
                   <div class="opcionFiltroBusquedaPagina" value="USD">
                    <i class="fas"></i>
                    <span>Concurso Privado</span>   
                   </div>
                   <div class="opcionFiltroBusquedaPagina" value="USD">
                     <i class="fas"></i>
                     <span>Concurso Público Nacional</span>  
                    </div>
                    <div class="opcionFiltroBusquedaPagina" value="USD">
                     <i class="fas"></i>
                     <span>Concurso Público Internacional</span>    
                    </div>
                  </div>
                  </div>-->
               <div id="elastic-list">
               </div>
            </div>
         </div>
         <div class="contenedorResultadosBusqueda">
            <div class="container-fluid">
               <div class="row mt-3 mb-3">
                    <div class="campoAzulBusquedaPadre" >
                       <form id="form_buscar"  action="" method="get">
                       <input class="form-control form-control-lg campoAzulBusqueda" id="campoBusquedaProceso" type="text" placeholder="Busca una contratación..." title="Busca una contratación..." name="q" value="{{q}}">
                        <i class="fas fa-search cursorMano" id="botonBusquedaProceso"></i>
                       </form>
                    </div>
                    <div class="contenedorBotonAzulFiltroBusqueda"  style="display:none">
                       <button class="botonAzulFiltroBusqueda" title="Filtros" type="submit">
                       <i class="fas fa-filter"></i> 
                       </button>
                    </div>
               </div>
            </div>

            <div class="container-fluid">
               <div class="row">
                  <div class="contenedorFiltros">
                     <div class="row">
                        <div class="col-6 col-sm-7 col-md-6">
                           <div class="tituloFiltrosAplicados">Filtros Aplicados:</div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-6 textoAlineadoDerecha">
                           <a href="/busqueda/" class="botonGeneral fondoColorSecundario">Quitar Todos</a>
                        </div>
                     </div>
                     <div class="row">
                        <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                           <div class="grupoEtiquetaTitulo">
                              Moneda:
                           </div>
                           <div class="filtrosAplicados">
                              <div class="etiquetaFiltro">
                                 USD
                                 <i class="fas fa-times"></i>
                              </div>
                              <div class="etiquetaFiltro">
                                 HNL
                                 <i class="fas fa-times"></i>
                              </div>
                           </div>
                        </div>
                        <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                           <div class="grupoEtiquetaTitulo">
                              Seleccion:
                           </div>
                           <div class="filtrosAplicados">
                              <div class="etiquetaFiltro">
                                 Concurso Público Nacional
                                 <i class="fas fa-times"></i>
                              </div>
                              <div class="etiquetaFiltro">
                                 Compras Menores
                                 <i class="fas fa-times"></i>
                              </div>
                           </div>
                        </div>
                        <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                           <div class="grupoEtiquetaTitulo">
                              Categoria:
                           </div>
                           <div class="filtrosAplicados">
                              <div class="etiquetaFiltro">
                                 Obras
                                 <i class="fas fa-times"></i>
                              </div>
                              <div class="etiquetaFiltro">
                                 Bienes
                                 <i class="fas fa-times"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid mt-3">
               <div class="row">
                  <div class="informacionResultadosBusqueda">
                     <div class="row elementosResultadosResumen">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                           <table>
                              <tbody>
                                 <tr >
                                    <td class="tituloTablaCaracteristicas pb-1">Total de Procesos:</td>
                                    <td class="contenidoTablaCaracteristicas pb-1"> 
                                       <span class="botonGeneral fondoColorPrimario">{{resumen.distinct_contracts.value|intcomma}}</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas pb-1">Promedio de Monto:</td>
                                    <td class="contenidoTablaCaracteristicas pb-1"> 
                                       <span class="botonGeneral fondoColorPrimario" >{%if resumen.avg_amount.value %}{{resumen.avg_amount.value|floatformat:0|intcomma}} HNL{%else%}0{%endif%}</span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                           <table>
                              <tbody>
                                 <tr >
                                    <td class="tituloTablaCaracteristicas pb-1">Total de Compradores:</td>
                                    <td class="contenidoTablaCaracteristicas pb-1"> 
                                       <span class="botonGeneral fondoColorPrimario">{{resumen.distinct_buyers.value|intcomma}}</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas pb-1"> Total de Proveedores:</td>
                                    <td class="contenidoTablaCaracteristicas pb-1"> 
                                       <span class="botonGeneral fondoColorPrimario "> {%if resumen.distinct_suppliers.value %} {{resumen.distinct_suppliers.value|intcomma}}{%else%}0 {%endif%}</span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid contenedorBusqueda pt-3 mb-5" >
               <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                     <h4 class="textoColorPrimario">Resultados</h4>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 textoAlineadoDerecha">
                     <h4 class="descargaIconos enLinea"><span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.JSON</span><span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.CSV</span></h4>
                     
                     <h4 class="enLinea mb-0 enLinea alineadoArriba" onclick="location.href='/preguntas'">
                           <div class="textoAlineadoCentrado cursorMano botonAyuda transicion" id="informacionTipoDatos">
                                 <i class="fas fa-question"></i>
                              </div>
                              
                        </h4>
                  </div>

                  {% for resultado in resultados %}

                  {% if resultado.data.compiledRelease.contracts %}

                  {% for contrato in resultado.data.compiledRelease.contracts %}                  
                  <div class="resultadoBusquedaProceso cursorMano transicion">
                     <div class="title-result">
                        <div class="textoTituloResultadoBusqueda">
                           {{contrato.description|upper}} <span class="textoColorGris textoAlineadoDerecha"> {%if contrato.dateSigned %} {{contrato.dateSigned}} {% else %} {{contrato.period.startDate}} {% endif %}</span>
                        </div>
                     </div>
                     <div class="contenedorProceso">
                        <div class="contenedorTablaCaracteristicas">
                           <table>
                              <tbody>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">ID Proceso (OCID):</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       {{resultado.data.ocid}}
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Comprador:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       {{resultado.data.compiledRelease.buyer.name}}
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Estado:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       {{contrato.status}}
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="contenedorTablaCaracteristicas">
                           <table class="anchoTotal">
                              <tbody>
                                 <tr>
                                    <td class="textoAlineadoDerecha">
                                       <div class="montoTotalProceso">
                                          <img src="img/otros/moneda.png" alt="" >
                                          <div class="contenedorMonto">
                                             <div class="textoColorGris">Monto del contrato:</div>
                                             <div class="valorMonto">
                                                {{contrato.value.amount|floatformat:2|intcomma}} <span class="textoColorPrimario">{{contrato.value.currency}}</span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% empty %}
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="textoColorPrimario">Lo sentimos, no hay contratos....</h5>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
<!--                  
                  <div class="resultadoBusquedaProceso cursorMano transicion">
                     <div class="title-result">
                        <div class="textoTituloResultadoBusqueda">
                           Lorem ipsum dolor sit amet consectetur, adipisicing elit. m <span class="textoColorGris textoAlineadoDerecha">2018-02-19 10:02:54</span>
                        </div>
                     </div>
                     <div class="contenedorProceso">
                        <div class="contenedorTablaCaracteristicas">
                           <table>
                              <tbody>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">ID Proceso (OCID):</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       ocds-213czf-000-00001
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Comprador:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Alcaldia Municipal
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Estado:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Adjudicación
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="contenedorTablaCaracteristicas">
                           <table class="anchoTotal">
                              <tbody>
                                 <tr>
                                    <td class="textoAlineadoDerecha">
                                       <div class="montoTotalProceso">
                                          <img src="img/otros/moneda.png" alt="" >
                                          <div class="contenedorMonto">
                                             <div class="textoColorGris">Monto Estimado:</div>
                                             <div class="valorMonto">
                                                87,456.00 <span class="textoColorPrimario">HNL</span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="resultadoBusquedaProceso cursorMano transicion">
                     <div class="title-result">
                        <div class="textoTituloResultadoBusqueda">
                           Lorem ipsum dolor sit amet consectetur, adipisicing elit. m <span class="textoColorGris textoAlineadoDerecha">2018-02-19 10:02:54</span>
                        </div>
                     </div>
                     <div class="contenedorProceso">
                        <div class="contenedorTablaCaracteristicas">
                           <table>
                              <tbody>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">ID Proceso (OCID):</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       ocds-213czf-000-00001
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Comprador:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Alcaldia Municipal
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Estado:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Adjudicación
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="contenedorTablaCaracteristicas">
                           <table class="anchoTotal">
                              <tbody>
                                 <tr>
                                    <td class="textoAlineadoDerecha">
                                       <div class="montoTotalProceso">
                                          <img src="img/otros/moneda.png" alt="" >
                                          <div class="contenedorMonto">
                                             <div class="textoColorGris">Monto Estimado:</div>
                                             <div class="valorMonto">
                                                87,456.00 <span class="textoColorPrimario">HNL</span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="resultadoBusquedaProceso cursorMano transicion">
                     <div class="title-result">
                        <div class="textoTituloResultadoBusqueda">
                           Lorem ipsum dolor sit amet consectetur, adipisicing elit. m <span class="textoColorGris textoAlineadoDerecha">2018-02-19 10:02:54</span>
                        </div>
                     </div>
                     <div class="contenedorProceso">
                        <div class="contenedorTablaCaracteristicas">
                           <table>
                              <tbody>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">ID Proceso (OCID):</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       ocds-213czf-000-00001
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Comprador:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Alcaldia Municipal
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="tituloTablaCaracteristicas">Estado:</td>
                                    <td class="contenidoTablaCaracteristicas"> 
                                       Adjudicación
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="contenedorTablaCaracteristicas">
                           <table class="anchoTotal">
                              <tbody>
                                 <tr>
                                    <td class="textoAlineadoDerecha">
                                       <div class="montoTotalProceso">
                                          <img src="img/otros/moneda.png" alt="" >
                                          <div class="contenedorMonto">
                                             <div class="textoColorGris">Monto Estimado:</div>
                                             <div class="valorMonto">
                                                87,456.00 <span class="textoColorPrimario">HNL</span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
-->
                  <div class="col-md-12 textoAlineadoCentrado">
                     <nav class="navegacionTablaGeneral">
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-left"></i></span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1</span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral  numeroNormalNavegacionTablaGeneral"><span>...</span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1410</span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1411</span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral current"><span>1412</span></a>
                        <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1413</span></a><a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-right"></i></span></a>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock %}

{% block script_content %}
<script src="{% static 'plugins/elastic-list/data.js' %}"></script>
<script src="{% static 'plugins/elastic-list/elastic-list.js' %}"></script>
<script src="{% static 'js/busqueda.js' %}"></script>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function () {
      var form = document.getElementById("form_buscar");

      document.getElementById("botonBusquedaProceso").addEventListener("click", function () {
        form.submit();
      });
    });
</script>
{% endblock %}
