{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Procesos de Contratación</title>
{% endblock %}

{% load static %}
{% block head_style %}
<link rel="stylesheet" href="{% static 'plugins/elastic-list/style.css' %}" >
{% endblock %}
{% block container %}
<div class="container-fluid  busquedaEspaciadoHorizontal">
      <div class="contenedorFiltrosBusqueda animated">
         <h4 class="textoColorPrimario tituloFiltrosMenu titularColor">
            Filtros 
            <div class="cursorMano cerrarContenedorFiltrosBusqueda" style="display:none"><i class="fas fa-times textoColorGris"></i></div>
         </h4>
         <div class="filtrosContenedoFiltrosBusqueda">
           
            <div id="elastic-list">
            </div>
         </div>
      </div>
      <div class="contenedorResultadosBusqueda">
   
         <div class="container-fluid" style="display: none">
            <div class="row">
               <div class="contenedorFiltros">
                  <div class="row">
                     <div class="col-6 col-sm-7 col-md-6">
                        <div class="tituloFiltrosAplicados">Filtros Aplicados:</div>
                     </div>
                     <div class="col-6 col-sm-5 col-md-6 textoAlineadoDerecha">
                        <a href="/busqueda/" class="botonGeneral fondoColorSecundario">Quitar Todos</a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                        <div class="grupoEtiquetaTitulo">
                           Moneda:
                        </div>
                        <div class="filtrosAplicados">
                           <div class="etiquetaFiltro">
                              USD
                              <i class="fas fa-times"></i>
                           </div>
                           <div class="etiquetaFiltro">
                              HNL
                              <i class="fas fa-times"></i>
                           </div>
                        </div>
                     </div>
                     <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                        <div class="grupoEtiquetaTitulo">
                           Seleccion:
                        </div>
                        <div class="filtrosAplicados">
                           <div class="etiquetaFiltro">
                              Concurso Público Nacional
                              <i class="fas fa-times"></i>
                           </div>
                           <div class="etiquetaFiltro">
                              Compras Menores
                              <i class="fas fa-times"></i>
                           </div>
                        </div>
                     </div>
                     <div class="grupoEtiquetaFiltro col-md-12 mb-1">
                        <div class="grupoEtiquetaTitulo">
                           Categoria:
                        </div>
                        <div class="filtrosAplicados">
                           <div class="etiquetaFiltro">
                              Obras
                              <i class="fas fa-times"></i>
                           </div>
                           <div class="etiquetaFiltro">
                              Bienes
                              <i class="fas fa-times"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid contenedorBusqueda mb-5" >
            <div class="row">
               <div class="col-6 col-sm-6 col-md-6">
                  <h4 class="textoColorPrimario tituloFiltrosMenu titularColor">
                     Dashboard
                  </h4>
               </div>
   
            </div>
            <div class="row">
            <div class="col-md-6">
                        <div class="cajonSombreado">
                              <div class="tituloGrafico">
                              <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Categoría de Compra</h4>
                              </div>
                              <div class="contenedorGrafico">
                              <div class="grafico" id="CantidadProcesosCategoriaCompra"  style="height: 300px"></div>
                              </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                                    <div class="cajonSombreado">
                                          <div class="tituloGrafico">
                                          <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Metodo de Contratación</h4>
                                          </div>
                                          <div class="contenedorGrafico">
                                          <div class="grafico" id="CantidadProcesosMetodoContratacion"  style="height: 300px"></div>
                                          </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6 mt-4">
                                                <div class="cajonSombreado">
                                                      <div class="tituloGrafico">
                                                      <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación por Categoría de Compra</h4>
                                                      </div>
                                                      <div class="contenedorGrafico">
                                                      <div class="grafico" id="MontoProcesosCategoriaCompra"  style="height: 300px"></div>
                                                      </div>
                                                </div>
                                                </div>
                                    <div class="col-md-6 mt-4">
                                                <div class="cajonSombreado">
                                                      <div class="tituloGrafico">
                                                      <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación por Metodo de Contratación</h4>
                                                      </div>
                                                      <div class="contenedorGrafico">
                                                      <div class="grafico" id="MontoProcesosMetodoContratacion"  style="height: 300px"></div>
                                                      </div>
                                                </div>
                                                </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="cantidadProcesos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
         
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Monto de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="montoProcesos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Procesos de Contratación por Etapas Donde se Encuentran</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="CantidadProcesosEtapas"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Tiempo Promedio por Etapas de Procesos de Contratación</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="tiempoPromedioEtapas"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Top 10 Compradores por Montos de Contrato</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="top10Compradores"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Top 10 Proveedores por Montos de Contrato y Moneda de Pago</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="top10Proveedores"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
         
               <div class="col-md-12 mt-4">
                  <div class="cajonSombreado">
                     <div class="tituloGrafico">
                        <h4 class="titularCajonSombreado textoAlineadoCentrado">Segregación de Montos de Contratos</h4>
                     </div>
                     <div class="contenedorGrafico">
                        <div class="grafico" id="segregacionMontosContratos"  style="height: 300px"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div class="container">
      <img src="{% static 'img/oncae.jpg' %}" style="width:100%"  alt="">
</div>
{% endblock %}
{% block script_content %}
<script src="{% static 'plugins/echarts-4.2.1/dist/echarts.min.js' %}"></script>
<script src="{% static 'plugins/elastic-list/data.js' %}"></script>
<script src="{% static 'plugins/elastic-list/elastic-list.js' %}"></script>
<script src="{% static 'plugins/echarts-4.2.1/dist/echarts.min.js' %}"></script>
<script src="{% static 'js/dashboardProcesosContratacion.js' %}"></script>
{% endblock %}