{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Proveedor</title>
{% endblock %}

{% load static %}

{% block container %}

<div class="container-fluid" style="max-width: 1600px">
   <div class="row mt-5">
      <div class="col-md-12">
         <h1 class="textoColorPrimario mt-3 tituloDetalleProceso">Proveedor "CAMIONES Y MOTORES S.A. (CAMOSA)"</h1>
      </div>
   </div>
   <div class="row mt-5">
      <h4 class="text-primary-edcax titularCajonSombreado col-md-6">
         Dirección del Proveedor
      </h4>
      <!--
         <div class="col-md-6 textoAlineadoDerecha"><h4 ><span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano"><i class="fas fa-file-download"></i>&nbsp;.JSON</span><span class="textoColorGris textoAlineadoDerecha p-1 cursorMano"><i class="fas fa-file-download"></i>&nbsp;.CSV</span></h4> </div>
         -->
   </div>
   <div class="row ">
      <div class="col-md-12">
         <div class=" cajonSombreado contenedorDetalleProcesoDatos">
            <div class="contenedorProceso informacionProceso">
               <div class="contenedorTablaCaracteristicas" style="width:100%">
                  <table>
                     <tbody>
                        <tr>
                           <td class="tituloTablaCaracteristicas">Identificación:</td>
                           <td class="contenidoTablaCaracteristicas"> 
                              <span class="botonGeneral fondoColorPrimario">HN-RTN</span> <span>08019998389463</span>
                           </td>
                        </tr>
                        <tr>
                           <td class="tituloTablaCaracteristicas">Dirección:</td>
                           <td class="contenidoTablaCaracteristicas"> 
                              BOULEVARD COMUNIDAD ECONOMICA EUROPEA, DESVIO A LA COLONIA SAN JOSE DEL PEDREGAL 
                              Distrito Central , Francisco Morazan , Honduras
                              Tel: 2246-7875 , Fax: -  2246-7875 
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 mt-2">
         <h4 class="text-primary-edcax titularCajonSombreado">Datos de Contacto</h4>
         <div class=" cajonSombreado mb-5">
            <div class="contenedorProceso informacionProceso">
               <div class="contenedorTablaCaracteristicas">
                  <table>
                     <tbody>
                        <tr>
                           <td class="tituloTablaCaracteristicas">Nombre:</td>
                           <td class="contenidoTablaCaracteristicas"> 
                              JOSE EDUARDO ATALA ZABLAH 
                           </td>
                        </tr>
                        <tr>
                           <td class="tituloTablaCaracteristicas">Telefono:</td>
                           <td class="contenidoTablaCaracteristicas"> 
                              9999-9999
                           </td>
                        </tr>
                        <tr>
                           <td class="tituloTablaCaracteristicas">Correo Electrónico:</td>
                           <td class="contenidoTablaCaracteristicas"> 
                              esteban146161@gmail.com
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</div>

<div class="container-fluid" style="max-width: 1600px">
         
      <div class="row">
         <div class="col-md-12">
            <div class=" cajonSombreado  ">
                  <div class="row">
                        <div class="col-md-12 mt-1">
                           <!--<h1 class="textoColorPrimario mt-3 tituloDetalleProceso">Procesos de Contratación</h1>-->
                           <h4 class="text-primary-edcax titularCajonSombreado">Que vende al Estado</h4>
                        </div>
                     </div>
                     <div class="row mt-1 mb-3 ">
                        <div class="col-lg-6">
                           <div class="campoAzulBusquedaPadre normal" style="margin-left:0">
                              <input class="form-control form-control-lg campoAzulBusqueda" type="text" placeholder="Busca un Item...">
                              <i class="fas fa-search cursorMano" id="buscarInformacion"></i>	
                           </div>
                        </div>
                        <div class="col-lg-6 textoAlineadoDerecha">
                           <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">Mostrar&nbsp;</h5>
                           <select name="" id="" class="campoSeleccion ancho70 mt-3 enLinea">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="20">20</option>
                           </select>
                           <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">&nbsp;Resultados</h5>
                     </div>
                     </div>
               <table class="tablaGeneral">
                  <thead>
                     <tr> 
                        <th class="textoAlineadoCentrado">
                              <span>Clasificación</span>
                              <input class="campoBlancoTextoSeleccion" placeholder="Nombre">
                              </th>
                        <th class="textoAlineadoCentrado">
                                    <span>Cantidad de Contratos</span>
                                    <input class="campoBlancoTextoSeleccion" placeholder="Número">
                        </th>
                        <th class="textoAlineadoCentrado">
                           <span>Monto de los Items Adjudicados</span>
                           <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                        </th>
                        
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td data-label="Clasificación">Lorem ipsum</td>
                        <td data-label="Cantidad de Contratos">36</td>
                        <td data-label="Monto de los Items Adjudicados">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
               
                     </tr>
                     <tr>
                           <td data-label="Clasificación">Lorem ipsum</td>
                           <td data-label="Cantidad de Contratos">36</td>
                           <td data-label="Monto de los Items Adjudicados">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                  
                        </tr>
                        <tr>
                              <td data-label="Clasificación">Lorem ipsum</td>
                              <td data-label="Cantidad de Contratos">36</td>
                              <td data-label="Monto de los Items Adjudicados">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                     
                           </tr>
                           <tr>
                                 <td data-label="Clasificación">Lorem ipsum</td>
                                 <td data-label="Cantidad de Contratos">36</td>
                                 <td data-label="Monto de los Items Adjudicados">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                        
                              </tr>
                              <tr>
                                    <td data-label="Clasificación">Lorem ipsum</td>
                                    <td data-label="Cantidad de Contratos">36</td>
                                    <td data-label="Monto de los Items Adjudicados">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                           
                                 </tr>
                  </tbody>
               </table>

               <div class="row">
                     <div class="col-md-6">
                           <h5 class="tituloTablaGeneral textoColorPrimario mt-3 mb-0" >Mostrando 0 a 5 de 45 Procesos de Items</h5>
                        </div>
                        <div class="col-md-6 textoAlineadoCentrado">
                              <nav class="navegacionTablaGeneral">
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-left"></i></span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1</span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral  numeroNormalNavegacionTablaGeneral"><span>...</span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>10</span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>11</span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral current"><span>12</span></a>
                                 <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>13</span></a><a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-right"></i></span></a>
                              </nav>
                           </div>
               </div>


            </div>
         </div>
     
         <div class="col-md-12 textoAlineadoDerecha mb-3">
            <h4 class="textoAlineadoDerecha mb-0 descargaIconos enLinea alineadoArriba" style="margin-top:18px">
                  <span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.JSON</span>
                  <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.CSV</span>
                  <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.XLS</span>
               </h4>
               <h4 class="enLinea mb-0 mt-3 enLinea alineadoArriba" onclick="location.href='/preguntas'">
                  <div class="textoAlineadoCentrado cursorMano botonAyuda transicion" id="informacionTipoDatos">
                        <i class="fas fa-question" ></i>
                     </div>
                     
               </h4>
         
      </div>
         
      </div>
   </div>

   <div class="container-fluid" style="max-width: 1600px">
         
         <div class="row">
            <div class="col-md-12">
               <div class=" cajonSombreado ">
                     <div class="row">
                           <div class="col-md-12 mt-2">
                              <h4 class="text-primary-edcax titularCajonSombreado">Contratos del Proveedor</h4>
                           </div>
                        </div>
                        <div class="row mt-1 mb-3 ">
                           <div class="col-lg-6">
                              <div class="campoAzulBusquedaPadre normal" style="margin-left:0">
                                 <input class="form-control form-control-lg campoAzulBusqueda" type="text" placeholder="Busca un contrato...">
                                 <i class="fas fa-search cursorMano" id="buscarInformacion"></i>	
                              </div>
                           </div>
                           <div class="col-lg-6 textoAlineadoDerecha">
                              <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">Mostrar&nbsp;</h5>
                              <select name="" id="" class="campoSeleccion ancho70 mt-3 enLinea">
                                 <option value="5">5</option>
                                 <option value="10">10</option>
                                 <option value="20">20</option>
                              </select>
                              <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">&nbsp;Resultados</h5>
                        </div>
                        </div>
                  <table class="tablaGeneral">
                     <thead>
                        <tr> 
                       
                                 <th class="textoAlineadoCentrado">
                                       <span>Comprador</span>
                                       <input class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                       </th>
                                       <th class="textoAlineadoCentrado">
                                             <span>Dependencia</span>
                                             <input class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                             </th>
                           <th class="textoAlineadoCentrado">
                              <span>Titulo</span>
                              <input  class="campoBlancoTextoSeleccion" placeholder="Buscar">
                           </th>
   
                              <th class="textoAlineadoCentrado">
                                    <span>Descripción</span>
                                    <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                 </th>
                                 <th class="textoAlineadoCentrado">
                                       <span>Nombre del Proceso</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
   
                                 <th class="textoAlineadoCentrado">
                                       <span>Categoría de Compra</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
                                 <th class="textoAlineadoCentrado">
                                       <span>Monto del Contrato</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
                                 <th class="textoAlineadoCentrado">
                                       <span>Fecha del Contrato</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
                                 <th class="textoAlineadoCentrado">
                                       <span>Estado</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                              <td data-label="Comprador"><a href="/comprador" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                           <td data-label="Dependencia"><a href="/comprador/" class="enlaceTablaGeneral">Departamento Central</a> </td>
                           
                           <td data-label="Titulo">Lorem ipsum dolor sit amet consect </td>
                           <td data-label="Descripción">Lorem ipsum dolor sit amet consect</td>
                           <td data-label="Nombre del Proceso">Lorem ipsum dolor sit amet consect</td>
                           <td data-label="Categoría de Compra">Lorem ipsum dolor sit amet consect</td>
                           <td data-label="Monto del Contrato">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                           <td data-label="Fecha del Contrato">2018-02-19 10:02:54</td>
                           <td data-label="Estado">Firmado</td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="row">
                        <div class="col-md-6">
                              <h5 class="tituloTablaGeneral textoColorPrimario mt-3 mb-0" >Mostrando 0 a 4 de 4 Contratos</h5>
                           </div>
      
                           <div class="col-md-6 textoAlineadoCentrado">
                                 <nav class="navegacionTablaGeneral">
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-left"></i></span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1</span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral  numeroNormalNavegacionTablaGeneral"><span>...</span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>10</span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>11</span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral current"><span>12</span></a>
                                    <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>13</span></a><a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-right"></i></span></a>
                                 </nav>
                              </div>
                  </div>
               </div>
            </div>
          
            
            <div class="col-md-12 textoAlineadoDerecha mb-5">
               <h4 class="textoAlineadoDerecha mb-0 descargaIconos enLinea alineadoArriba" style="margin-top:18px">
                     <span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.JSON</span>
                     <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.CSV</span>
                     <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.XLS</span>
                  </h4>
                  <h4 class="enLinea mb-0 mt-3 enLinea alineadoArriba" onclick="location.href='/preguntas'">
                     <div class="textoAlineadoCentrado cursorMano botonAyuda transicion" id="informacionTipoDatos">
                           <i class="fas fa-question" ></i>
                        </div>
                        
                  </h4>
            
         </div>
            
         </div>
      </div>

      
      <div class="container-fluid" style="max-width: 1600px">
         
            <div class="row">
               <div class="col-md-12">
                  <div class=" cajonSombreado ">
                        <div class="row">
                              <div class="col-md-12 mt-2">
                                 <!--<h1 class="textoColorPrimario mt-3 tituloDetalleProceso">Procesos de Contratación</h1>-->
                                 <h4 class="text-primary-edcax titularCajonSombreado">Procesos de Pago del Proveedor</h4>
                              </div>
                           </div>
                           <div class="row mt-1 mb-3 ">
                              <div class="col-lg-6">
                                 <div class="campoAzulBusquedaPadre normal" style="margin-left:0">
                                    <input class="form-control form-control-lg campoAzulBusqueda" type="text" placeholder="Busca un proceso de pago...">
                                    <i class="fas fa-search cursorMano" id="buscarInformacion"></i>	
                                 </div>
                              </div>
                              <div class="col-lg-6 textoAlineadoDerecha">
                                 <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">Mostrar&nbsp;</h5>
                                 <select name="" id="" class="campoSeleccion ancho70 mt-3 enLinea">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                 </select>
                                 <h5 class="tituloTablaGeneral textoColorTitulo mt-3 mb-0 enLinea">&nbsp;Resultados</h5>
                           </div>
                           </div>
                     <table class="tablaGeneral">
                        <thead>
                           <tr> 
                                    <th class="textoAlineadoCentrado">
                                          <span>Comprador</span>
                                          <input class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                          </th>
                              <th class="textoAlineadoCentrado">
                                 <span>Titulo del contrato</span>
                                 <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                              </th>
      
                                 <th class="textoAlineadoCentrado">
                                       <span>Monto del contrato</span>
                                       <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                    </th>
                                    <th class="textoAlineadoCentrado">
                                          <span>Suma de todos los pagos</span>
                                          <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                       </th>
      
                                    <th class="textoAlineadoCentrado">
                                          <span>Estado</span>
                                          <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                       </th>
                                    <th class="textoAlineadoCentrado">
                                          <span>Fecha del ultimo pago</span>
                                          <input  class="campoBlancoTextoSeleccion" placeholder="Nombre">
                                       </th>
                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                                 <td data-label="Comprador"><a href="/comprador" class="enlaceTablaGeneral">Lorem ipsum dolor sit amet consect</a> </td>
                              <td data-label="Titulo del Contrato">Lorem ipsum dolor sit amet consect</td>
                              <td data-label="Monto del Contrato">2,466,855,052 <span class="textoColorPrimario">HNL</span></td>
                              <td data-label="Suma de todos los pagos">1,900,855,052 <span class="textoColorPrimario">HNL</span></td>
                              <td data-label="Estado">Compromiso</td>
                              <td data-label="Fecha del ultimo pago">2018-02-19 10:02:54</td>
                     
                           </tr>
                        </tbody>
                     </table>

                     <div class="row">
                           <div class="col-md-6">
                                 <h5 class="tituloTablaGeneral textoColorPrimario mt-3 mb-0" >Mostrando 0 a 4 de 4 Procesos de Pago</h5>
                              </div>
                              <div class="col-md-6 textoAlineadoCentrado">
                                    <nav class="navegacionTablaGeneral">
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-left"></i></span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>1</span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral  numeroNormalNavegacionTablaGeneral"><span>...</span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>10</span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>11</span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral current"><span>12</span></a>
                                       <a href="javascript:void(0);" class="numerosNavegacionTablaGeneral "><span>13</span></a><a href="javascript:void(0);" class="numerosNavegacionTablaGeneral"><span><i class="fa fa-angle-right"></i></span></a>
                                    </nav>
                                 </div>
                     </div>


                  </div>
               </div>
           
               <div class="col-md-12 textoAlineadoDerecha mb-5">
                  <h4 class="textoAlineadoDerecha mb-0 descargaIconos enLinea alineadoArriba" style="margin-top:18px">
                        <span  class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.JSON</span>
                        <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.CSV</span>
                        <span class="textoColorGris textoAlineadoDerecha p-1 cursorMano transicion"><i class="fas fa-file-download"></i>&nbsp;.XLS</span>
                     </h4>
                     <h4 class="enLinea mb-0 mt-3 enLinea alineadoArriba" onclick="location.href='/preguntas'">
                        <div class="textoAlineadoCentrado cursorMano botonAyuda transicion" id="informacionTipoDatos">
                              <i class="fas fa-question" ></i>
                           </div>
                           
                     </h4>
               
            </div>
               
            </div>
         </div>
{% endblock %}
{% block script_content %}
<script src="{% static 'js/proveedor.js' %}"></script>
{% endblock %}