{% extends "baseEmbed.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Visualización Contratos</title>
{% endblock %}

{% load static %}
{% block head_style %}
<link rel="stylesheet" href="{% static 'plugins/elastic-list/style.css' %}" >
{% endblock %}
{% block container %}
<div class="container-fluid  busquedaEspaciadoHorizontal elementosDashboard" >
      
     
      <div class="contenedorResultadosBusquedax" style="padding-right:0">
   
       
         <div class="container-fluid contenedorBusqueda mb-5 removerEspacio mt-2" >
            <!--<div class="row">
               <div class="col-12">
                  <h4 class="textoColorPrimario titularColor">
                     
                     <table class="" style="table-layout: fixed;width: 100%;border-collapse: collapse;border:none">
                           <tr>
                              <td>
                                    <span>
                                          Contratos por Institución
                                    </span>
                              </td>
                           
                           </tr>
                        </table>
                  </h4>
               </div>
   
            </div>-->
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 ">
                        <div class="cajonSombreadox " style="min-height: 400px;">
                              <!--<div class="tituloGrafico">
                              <h4 class="titularCajonSombreado textoAlineadoCentrado">Instituciones Compradoras</h4>
                               <h4 class="titularCajonSombreado textoAlineadoCentrado">Cantidad de Contratos por Instiución</h4>
                              </div>-->
                              <!--
                              <div class="row">
                                 <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <table>
                                    <tbody>
                                       <tr>
                                          <td>
                                                <i class="far fa-check-square textoColorPrimario" style="font-size:50px"></i>
                                          </td>
                                          <td>
                                             <div style="padding-left:10px"><b class="textoColorGrisNormal">Selecciona algún año del cual desees agrupar los contratos por institución.</b></div>
                                                
                                          </td>
                                       </tr>
                                    </tbody>
                                    </table>
                                 </div>
                                 <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                       <table>
                                             <tbody>
                                                <tr>
                                                   <td>
                                                         <i class="far fa-question-circle textoColorPrimario" style="font-size:50px"></i>
                                                   </td>
                                                   <td>
                                                      <div style="padding-left:10px"><b class="textoColorGrisNormal">Cada círculo representa un contrato, en donde el tamaño está dado por el monto y el color por el tipo de contrato.</b></div>
                                                         
                                                   </td>
                                                </tr>
                                             </tbody>
                                             </table>
                                 </div>
                                 <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                       <table>
                                             <tbody>
                                                <tr>
                                                   <td>
                                                         <i class="fas fa-mouse-pointer textoColorPrimario" style="font-size:50px"></i>
                                                   </td>
                                                   <td>
                                                      <div style="padding-left:10px"><b class="textoColorGrisNormal">
                                                            Haciendo click sobre una institución se pueden ver los contratos individuales en el gráfico de más abajo.</b></div>
                                                         
                                                   </td>
                                                </tr>
                                             </tbody>
                                             </table>
                                 </div>
                              </div>
                           -->
                              <div class="contenedorGrafico" id="VisualizacionGeneral" style="position: relative;">
                              <div class="grafico visualizacion textoAlineadoCentrado" id="FechasSeleccion" >
                              </div>
                             
                              <div class="grafico visualizacion mt-2 " id="ContratosGenerales"  style="min-height: 500px;text-align: center;position: relative;">
                              </div>
                              
                              <div class="grafico visualizacion " id="PesosContratos"  style="min-height: 500px;text-align: center;position: relative;display: none;">
                              
                              </div>
                              </div>
                        </div>
            </div>
            
              
            
            </div>
         </div>
        
      </div>
   </div>
<div class="container" style="display: none">
      <img src="{% static 'img/oncae.jpg' %}" style="width:100%"  alt="">
</div>
{% endblock %}
{% block script_content %}
<script src="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/echarts-4.2.1/dist/echarts.min.js' %}"></script>
<script src="{% static 'plugins/d3.v3/d3.v3.min.js' %}"></script>
<script src="{% static 'plugins/d3.v3/underscore-min.js' %}"></script>
<script src="{% static 'plugins/d3.v3/moment.min.js' %}"></script>
<script src="{% static 'plugins/d3.v3/convert_entidad.js' %}"></script>
<script src="{% static 'js/extensionPesosContratos.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/d3.v3/custom.css' %}">




<script src="{% static 'js/pesosContratos.js' %}"></script>
{% endblock %}