{% extends "base.html" %}

{% block head_content %}
<title>Portal de Contrataciones Abiertas de Honduras - Inicio</title>
{% endblock %}

{% block container %}
{% load static %}
<div class="container-fluid fondoColorPrimario fondoPrincipalInicio">
      <div class="container">
         <div class="row contenedorBusquedaInicial" >
            <div class="contenedorBotonBlancoFiltroBusqueda">
               <button class="botonBlancoFiltroBusqueda" id="botonBlancoFiltroBusquedaInicio">
               <i class="fas fa-filter"></i>	
               </button>
               <div class="preContenedorFiltroBusqueda animated fadeIn">
                  <div class=" contenedorFiltroBusqueda ">
                     <div class="flechaArribaBlanca"></div>
                     <div>
                        <div class="OpcionFiltroBusqueda">
                           <input type="radio" id="f-option" name="selector">
                           <label for="f-option" class="etiquetaOpcionFiltroBusqueda textoColorPrimario">Buscar Todos</label>
                        </div>
                        <div class="OpcionFiltroBusqueda">
                           <input type="radio" id="s-option" name="selector">
                           <label for="s-option" class="etiquetaOpcionFiltroBusqueda textoColorPrimario">Compradores</label>
                        </div>
                        <div class="OpcionFiltroBusqueda">
                           <input type="radio" id="t-option" name="selector">
                           <label for="t-option" class="etiquetaOpcionFiltroBusqueda textoColorPrimario" >Proveedores</label>
                        </div>
                        <div class="OpcionFiltroBusqueda">
                           <input type="radio" id="u-option" name="selector">
                           <label for="u-option" class="etiquetaOpcionFiltroBusqueda textoColorPrimario">Nombre</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="campoBlancoBusquedaPadre">
               <form id="form_buscar"  action="/busqueda/" method="get">
               <input class="form-control form-control-lg campoBlancoBusqueda" type="text" placeholder="Busca una contratación..." id="campoBlancoBusquedaProcesos" name="q">
               <i class="fas fa-search cursorMano" id="botonBusquedaProceso" title="Buscar"></i>	
               </form>
            </div>
         </div>
         <div class="row">
            <h1 class="tituloInicio">
               Busca, explora y visualiza las contrataciones <br>de las instituciones del gobierno de Honduras
            </h1>
         </div>
         <div class="row mt-5 mb-3 contenedorEstadisticaInicial" >
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
               <div class="numeroTitularEstadistico textoColorBlanco tiempo" data-speed="1000" data-refresh-interval="20" data-from="25" data-to="{{distinct_suppliers}}"></div>
               <div class="divisorNumeroTitularEstadistico fondoColorBlanco"></div>
               <div class="descripcionNumeroTitularEstadistico textoColorBlanco">Proveedores</div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
               <div class="numeroTitularEstadistico textoColorBlanco tiempo" data-speed="1000" data-refresh-interval="20" data-from="25" data-to="{{distinct_contracts}}"></div>
               <div class="divisorNumeroTitularEstadistico fondoColorBlanco"></div>
               <div class="descripcionNumeroTitularEstadistico textoColorBlanco">Contratos</div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
               <div class="numeroTitularEstadistico textoColorBlanco tiempo" data-speed="1000" data-refresh-interval="20" data-from="25" data-to="{{distinct_buyers}}"></div>
               <div class="divisorNumeroTitularEstadistico fondoColorBlanco"></div>
               <div class="descripcionNumeroTitularEstadistico textoColorBlanco">Compradores</div>
            </div>
         </div>
      </div>
      <img src="{% static 'img/landing/iconosEdca.svg' %}" class="fondoIconos" style="display:none">
   </div>
   <div class="container">
      <div class="row mt-5 mb-5">
         <div class="col-md-6">
            <div class="col-md-12">
               <h2 class="textoColorPrimario mt-5">API Disponible</h2>
               <p class="lead">Implementa la API del Portal de Contrataciones Abiertas de Honduras en el sitio de tu institucion o tu propio proyecto. <a href="/servicio">Accede</a></p>
            </div>
            <div class="col-md-12">
               <img src="{% static 'img/landing/api.png' %}" style="max-height: 300px;margin:0 auto;display: block">
            </div>
         </div>
         <div class="col-md-6">
            <div class="col-md-12">
               <img src="{% static 'img/landing/bulkdownload.png' %}" style="max-height: 300px;margin:0 auto;display: block">
            </div>
            <div class="col-md-12">
               <h2 class="textoColorPrimario mt-5">Descarga de Datos</h2>
               <p class="lead">Descarga los Datos para analizarlos en tu Computadora. <a href="/descargas">Descargas</a></p>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block script_content %}
<script src="{% static 'js/inicio.js' %}"></script>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function () {
      var form = document.getElementById("form_buscar");

      document.getElementById("botonBusquedaProceso").addEventListener("click", function () {
        form.submit();
      });
    });
</script>
{% endblock %}

